<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Planning</title>
<STYLE type="text/css">
@page { size:21cm 29.7cm; margin-top:1cm; margin-bottom:1.5cm  }
table 
{
        border:1px solid black;
        border-collapse: collapse;
        font-size: 14px;
}

td, th
{
        border:1px solid black;
        border-collapse: collapse;
	padding: 3px;
        font-size: 14px;
	text-align: center;
}

body {
	margin-left: 3px;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
}

</STYLE>
</head>
<body leftmargin="3" topmargin="3" marginwidth="3" marginheight="3">
  <div id="in" align="center">
  <strong><center>DEPARTS __DATE__ (__NBR_IN__)</center></strong>
    <table id="in">
__PLANNING_IN__
    </table>
  </div>
  <p style="page-break-before:always">&nbsp;</p>
  <div id="out" align="center" >
  <strong><center>RETOURS __DATE__ (__NBR_OUT__)</center></strong>
    <table id="out">
__PLANNING_OUT__
    </table>
  </div>
</body>
</html>
